@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background: #404040;
}

.card {
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
    color: #fff;
    margin: 100px auto;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}

.search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input {
    border: 0;
    outline: 0;
    background: #ded8d8;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}

.search button {
    border: 0;
    outline: 0;
    background: #ded8d8;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.search button img {
    width: 20px;
}

.weather-Icon {
    width: 170px;
    margin-top: 30px;
}

.weather h1 {
    font-size: 80px;
    font-weight: 500;
    color: black;
    cursor: default;
}
.weather h2 {
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
    color: black;
    cursor: default;
}

h1, h2 {
    transition: ease-in-out 0.3s;
}

h1:hover {
    color: rgb(127, 214, 255);
}

h2:hover {
    color: rgb(127, 214, 255);
}

.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}

.col {
    display: flex;
    align-items: center;
    text-align: left;
}

.col img {
    width: 50px;
    margin-right: 10px;
}

.humidity, .wind {
    font-size: 28px;
    margin-top: -3px;
}

p {
    color: black;
    cursor: default;
    transition: ease-in-out 0.3s;
}

p:hover {
    color: rgb(127, 214, 255);
}

.weather {
    display: none;
}







